<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="CONSOLE2" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{${yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr([%15.15t]){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
      <charset>${CONSOLE_LOG_CHARSET}</charset>
    </encoder>
  </appender>

<!--  <root level="INFO">-->
<!--    <appender-ref ref="CONSOLE"/>-->
<!--  </root>-->

  <logger name="learn.tomcat9.performance.controller.TestController">
    <appender-ref ref="CONSOLE2" />
  </logger>
</configuration>
